[submodule "go-sqlite"]
	path = go-sqlite
	url = https://github.com/markuman/go-sqlite.git
[submodule "sqlite"]
	path = sqlite
	url = https://github.com/mackyle/sqlite.git
[submodule "opcodemesh"]
	path = opcodemesh
	url = https://github.com/poormanslaserscanner/opcodemesh.git
[submodule "Triangle"]
	path = Triangle
	url = https://github.com/poormanslaserscanner/Triangle.git
[submodule "libigl"]
	path = libigl4pmls/libigl
	url = https://github.com/poormanslaserscanner/libigl.git
[submodule "gptoolbox"]
	path = gptoolbox
	url = https://github.com/poormanslaserscanner/gptoolbox.git
[submodule "iso2mesh"]
	path = iso2mesh
	url = https://github.com/poormanslaserscanner/iso2mesh.git
[submodule "dxflib"]
	path = dxflib
	url = https://github.com/taquart/dxflib.git
[submodule "trimesh2"]
	path = trimesh2
	url = https://github.com/Forceflow/trimesh2.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "cuda_voxelizer"]
	path = cuda_voxelizer
	url = https://github.com/Forceflow/cuda_voxelizer.git
